/* Variables */
:root {
    --main: #F5F5DC;
    --mainDark: #3e250e;
    --secondary: #DCDCF5;
    --tertiary: #855222;
}

/*Fonts*/
/*--Primary Font*/
.poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/*--Secondary Font*/
.lora {
    font-family: "Lora", serif;
    font-style: normal;
}

/*--Tertiary Font*/
.bebas {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
}

/*Universal Styling*/
/* ----Float */
.right {
    float: right;
}

.left {
    float: left;
}

/* --Font Styling */
/* ----Font Size */
.font_12 {
    font-size: 14px;
}

.font_14 {
    font-size: 14px;
}

.font_18 {
    font-size: 18px;
}

.font_24 {
    font-size: 24px;
}

.font_36 {
    font-size: 36px;
}

.font_48 {
    font-size: 48px;
}

.font_64 {
    font-size: 64px;
}

.font_72 {
    font-size: 72px;
}

/* ----Font Colour */
.white {
    color: white;
}

/*Default tag styling*/
body {
    background-color: #DCDCF5 !important;
    overflow-x: hidden;
}

input {
    border-radius: 30px;
    border: 1px solid var(--mainDark);
    background-color: var(--mainDark);

    height: 50px;
    width: 590px;

    margin-bottom: 25px;
    padding-left: 10px;

    color: lightgray;
}

select {
    border-radius: 30px;
    border: 1px solid var(--mainDark);
    background-color: var(--mainDark);

    height: 60px;
    width: 605px;

    margin-bottom: 25px;
    padding-left: 10px;

    color: lightgray;
}

textarea {
    width: 590px;
    height: 70px;

    border-radius: 30px;
    border: 1px solid var(--mainDark);
    background-color: var(--mainDark);

    margin-bottom: 25px;
    padding-top: 10px;
    padding-left: 10px;

    color: lightgray;
}

a:hover {
    color: var(--tertiary) !important;
}

a {
    margin-right: 40px;
}

li {
    display: inline;
    text-decoration: none;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    padding: 0px;
    margin: 0px;
}

tr {
    border-bottom: 1px solid black !important;
}

/* All pages layout */
/* --Navbar */
/* ----Navbar background */
.navbar_bg {
    background-color: var(--main);
    box-shadow: 0px 2px 10px var(--mainDark);

    transition: 0.5s ease;
}

/* ----This is for the logo, as well as its hover to change colours */
.nav_image {
    width: 165px;
    height: 50px;

    margin-left: 50px;

    background-image: url("../assets/icons/logo/stream_logo_black.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav_image:hover {
    background-image: url("../assets/icons/logo/stream_logo_white.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* ----This is for the input. !important is added so that it overrides Bootstrap's styling */
.nav_search {
    background-color: white !important;

    border: 2px solid var(--mainDark) !important;

    border-right: none !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;

    max-width: 200px;
}

/* ----Once the input is selected, it should not change and ignore default Bootstrap styling */
.nav_search:focus {
    border-color: var(--mainDark) !important;
    box-shadow: none !important;
}

/* ----This is the search icon to the right of the search box */
.nav_btn {
    background-color: white;

    border: 2px solid black;

    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    padding-bottom: 5px;
    padding-right: 15px;

    /* ----This allows the search icon to appear directly next to rhe input, forming the illusion that they are connected */
    margin-left: -10px;
}

/* --Footer */
.footer {
    width: 100%;
    height: auto;

    padding-left: 8.2%;
    padding-right: 9%;

    padding-bottom: 8%;
}

.images_margin {
    margin-right: 20px;
}

/* Index Page */
/* --Artist Info */
/* ----Background Image */
.header {
    width: 100%;
    height: 100%;

    padding-top: 10%;
    padding-bottom: 10%;

    background-image: url("../assets/albums/The_Human_Condition_Jon_Bellion.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    box-shadow: 0px 2px 10px var(--mainDark);
}

/* ----Artist info Card */
.card_css_artist {
    width: 60%;

    margin-top: 20%;
    margin-left: 8.2%;

    background-color: rgba(245, 245, 220, 0.75) !important;
    border: 3px solid var(--mainDark) !important;
    border-radius: 25px !important;

    padding: 15px;
}

/* ----Universal styling for the two buttons */
.btnHeader {
    width: 225px;
    height: 70px;

    border-radius: 90px;
    border: 4px solid black;

    margin-right: 40px;
}

/* ----Differing styling for the colours of the two buttons, including hover states */
.btnHeaderBlack {
    background-color: black;
    color: white;
}

.btnHeaderBlack:hover {
    background-color: var(--main);
    color: black;
}

.btnHeaderWhite {
    background-color: white;
    color: black;
}

.btnHeaderWhite:hover {
    background-color: var(--tertiary);
    color: white;
}

/* ----The like image, which is inside of a button, and its hover state which changes it to a white version */
.imgHeaderLike {
    width: 70px;
    height: 70px;

    margin-bottom: -25px;

    background-image: url('../assets/icons/other/heart_icon.svg');
    background-repeat: none;
    background-size: cover;
}

.btnHeaderLike {
    background-color: transparent;
    border: none;
}

.imgHeaderLike:hover {
    background-image: url('../assets/icons/other/white_heart_icon.svg');
    background-repeat: none;
    background-size: cover;
}

/* Featured Artist */
.featured_artist {
    width: 100%;
    height: auto;

    padding: 10%;
}

.card_css_featured_artist {
    width: 50%;

    padding: 15px;
    padding-bottom: 0px !important;

    background-color: var(--main) !important;
    border: 4px solid var(--mainDark) !important;
    border-radius: 15px !important;

    z-index: 0;
}

.iframe_featured {
    margin-right: -20px;
    margin-top: -10px;

    position: relative;
    z-index: 1;
}

/* --Recent Releases */
#recent_releases {
    width: 100%;
    height: auto;

    padding-left: 10%;
    padding-right: 10%;

    margin-bottom: 80px;

    opacity: 1;
}

.album_img {
    width: 277px;
    height: 277px;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

    border-radius: 15px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* ----Hover Items */
.hover_items {
    opacity: 0;
    transition: 0.5s ease;
}

.hover_items:hover {
    opacity: 1;
}

.play_img {
    width: 277px;
    height: 207px;

    text-align: center;

    padding-top: 90px;
}

.play_div {
    width: 277px;
    height: 70px;

    background-color: var(--main);

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.play_title {
    padding-top: 10px;
    padding-left: 10px;
    color: black;
}

.play_text {
    width: 100%;
    height: auto;

    padding-left: 10px;
    color: black;

    margin-top: -5px;
}

/* --Popular Albums */
#popular_albums {
    width: 100%;
    height: auto;

    padding-left: 10%;
    padding-right: 10%;

    margin-bottom: 80px;

    opacity: 1;
}

/* About Page */
#about_div {
    height: auto;
    width: 100%;

    padding-top: 12%;
    padding-bottom: 10%;
}

/* --info tab */
.info_tab_text {
    width: auto;
    height: 50px;

    margin-left: 10px;
    margin-right: 20px;
}

#embedded_map {
    width: 40%;
    height: 10%;

    margin-left: 8%;
    margin-top: 25px;
}

/* --Contact form */
.contact_form {
    background-color: var(--main);

    border: 5px solid var(--mainDark);
    border-radius: 60px;

    padding: 30px;
}

.inpContact {
    margin-top: 25px;
    width: 100%;

    padding: 20px !important;
}

.otherContact {
    margin-top: 25px;
    width: 100%;
}

/* Playlist Page */
.playlist_container {
    width: 100%;
    height: auto;

    text-align: left;

    padding-top: 10%;
}

.playlist_thumbnail {
    width: 470px;
    height: 470px;

    text-align: center;
    background-color: gray;

    background-image: url('../assets/albums/sia_this_is_acting.webp');
    background-size: 470px;
}

.main_image_text {
    width: 470px;
    height: 320px;

    color: white;
    text-align: center;

    padding-top: 100px;
}

.small_logo {
    width: 50px;
    height: 50px;

    margin-top: -50px;
}

/* --Audio Player */
.playlists {
    margin-right: 60px;
    margin-left: 10px;
}

.playlists_active {
    text-decoration: underline;
}

#active_song {
    width: 100%;
    height: 30px;

    margin-top: 50px;
    margin-left: 8%;
}

#dark_bar {
    width: 300px;
    height: 0.1px;

    border: 4px solid black;

    float: left;
}

#circle {
    width: 30px;
    height: 30px;

    background: black;
    border-radius: 50%;

    float: left;

    margin-top: -12.5px;
    margin-left: -2px;
}

#light_bar {
    width: 880px;
    height: 0.1px;

    border: 4px solid lightgray;

    float: left;
}

#song_description {
    width: 100%;
    height: 100px;

    margin-top: 40px;
    margin-left: 7%;
}

#song_desc_image {
    width: 70px;
    height: 70px;

    background-color: gray;

    float: left;

    margin-right: 20px;
}

#controller {
    width: 500px;
    height: 100px;

    float: left;

    margin-top: -85px;
    margin-left: 450px;
}

#pause {
    width: 100px;
    height: 100px;

    float: left;

    margin-left: 23px;
    margin-right: 30px;
}

.left_right {
    width: 70px;
    height: 70px;

    float: left;

    margin-top: 25px;
}

#other_info {
    width: 160px;
    height: 40px;

    float: left;

    margin-left: 122px;
    margin-top: -70px;
}